/*for sosmed styling*/
.peatalk-sosmed-icon{
  	display: inline-block;
  	vertical-align: top;
  	overflow: hidden;
  	margin: 4px;
  	width: 32px;
  	height: 32px;
  	font-size: 0;
  	text-indent: -9999px;
}
.peatalk-icon-sosmed-animate{
	background: url("../images/icons_sosmed.png");
  	background-image: url("../images/icons_sosmed2.png"), none;
  	background-color: #595959;
  	-webkit-transition: background 0.3s;
   	transition: background 0.3s;
}
/* facebook */
.peatalk-icon-sosmed-animate.facebook {
  	background-position: 0 0;
}

.peatalk-icon-sosmed-animate.facebook:hover {
  	background-color: #3b5998;
  	background-position: 0 -32px;
}

/* twitter */
.peatalk-icon-sosmed-animate.twitter {
  	background-position: -32px 0;
}

.peatalk-icon-sosmed-animate.twitter:hover {
  	background-color: #4099ff;
  	background-position: -32px -32px;
}

/* google plus */
.peatalk-icon-sosmed-animate.googleplus {
  	background-position: -64px 0;
}

.peatalk-icon-sosmed-animate.googleplus:hover {
  	background-color: #d34836;
  	background-position: -64px -32px;
}
